<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.analysys.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AnsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:process=":WebView" />
        <activity android:name=".UserSettingActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".PropertyActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HeatMapTestActivity" />
        <activity
            android:name=".SingleProcessTestActivity"
            android:process=":singleProcess" />
        <activity android:name=".allgroTest.AllgroTestActivity" />

        <meta-data
            android:name="ANALYSYS_AUTO_COLLECTION_MAC"
            android:value="false"/>
        <meta-data
            android:name="ANALYSYS_AUTO_COLLECTION_IMEI"
            android:value="false"/>
    </application>

</manifest>