<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.analysys.apidemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.analysys.demo.AnsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name="com.analysys.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.analysys.demo.WebViewActivity"
            android:process=":WebView" />
        <activity android:name="com.analysys.demo.UserSettingActivity" />
        <activity android:name="com.analysys.demo.EventActivity" />
        <activity android:name="com.analysys.demo.PropertyActivity" />
        <activity android:name="com.analysys.demo.ProfileActivity" />
        <activity android:name="com.analysys.demo.HeatMapTestActivity" />
        <activity
            android:name="com.analysys.demo.SingleProcessTestActivity"
            android:process=":singleProcess" />
        <activity android:name="com.analysys.demo.allgroTest.AllgroTestActivity" />
        <activity android:name="com.analysys.demo.allgroTest.AllgroMainActivity" />
        <activity android:name="com.analysys.demo.allgroTest.TabTestActivity" />

        <meta-data
            android:name="ANALYSYS_AUTO_COLLECTION_MAC"
            android:value="false"/>
        <meta-data
            android:name="ANALYSYS_AUTO_COLLECTION_IMEI"
            android:value="false"/>
    </application>

</manifest>