<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.analysys.visualdemo"
    android:versionCode="4"
    android:versionName="4.3.5.1">

    <application >
        <activity android:name=".activity.VisualAggregationActivity" />
        <activity android:name=".activity.DActivity" />
        <activity android:name=".activity.DynamicAddActivity" />
        <activity android:name=".activity.GravityActivity" />
        <activity android:name=".activity.ListViewActivity" />
        <activity android:name=".activity.LoginActivityA" />
        <activity android:name=".activity.LoginActivityB" />
        <activity android:name=".activity.NestingActivity" />
        <activity android:name=".activity.PopupActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.TopVisualMainActivity" />
        <activity android:name=".activity.VisualViewPagerActivity" />
        <activity android:name=".activity.VisualTableActivity" />
        <activity android:name=".activity.VisualMainActivity" />
        <activity android:name=".activity.VisualLinearActivity" />
        <activity android:name=".activity.VisualFrameActivity" />
        <activity android:name=".activity.VisualAvtivityC" />
        <activity android:name=".activity.VisualActivityB" />
        <activity android:name=".activity.ViaualConstraintActivity" />
        <activity android:name=".activity.VisualRelativeActivity" />
        <activity android:name=".activity.ViaualAbsoulteActivity" />
    </application>
</manifest>
